# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Log files
*.log

# Env files (bảo mật)
.env
.env.*

# Database
*.sqlite3
*.db

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.cache

# PyInstaller
*.spec
build/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Unit test results
test-results/
